
.dis{
    display: flex;
    margin-top: -10%;
    flex-wrap: wrap;
}
.fot{
    box-shadow: 0 5px 15px rgb(0, 0, 0,.5);   
    height: 200px;
    width: 200px;
    position: absolute; 
    left: 50px;
    top: -10px;
    border-radius: 12px;
    transition: all 1s;
}
section:hover img{
    top:-100px;
    border-radius: 50%;
}
section{
    box-shadow: 0 5px 15px rgb(0, 0, 0,.5);   
    background-color: black;
    height: 250px;
    width: 300px;
    margin: 200px auto 0 auto ;
    position: relative;
    border-radius: 12px;
   transition:  all 0.6s;

}
section:hover{
    height: 400px;
    background-color: #00A7E3;
    
}
.cont{
    position:absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: all 2s;
}
section:hover .cont{
    opacity: 1;
}
#sosa{
    transition: 0.5s;
}
#sosa{
    box-shadow: 0 5px 15px rgb(0, 0, 0,.5);
}
#sosa:hover{
    width: 107%;
}
#BARCALONA{
    transition: 0.5s;
    box-shadow: 0 5px 15px rgb(0, 0, 0,.5);
}
#BARCALONA:hover{

    width: 103%
}
#bleu{
    background-image: url(city.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
